<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [3]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=181381fb79bc31626b463e241d51c55e"  #Make sure to change ******* to your API key.
data = requests.get(url)
data.json()

{'success': True,
 'timestamp': 1645051262,
 'base': 'EUR',
 'date': '2022-02-16',
 'rates': {'AED': 4.178439,
  'AFN': 104.084981,
  'ALL': 121.485768,
  'AMD': 546.539938,
  'ANG': 2.050748,
  'AOA': 585.916354,
  'ARS': 121.174451,
  'AUD': 1.581399,
  'AWG': 2.047984,
  'AZN': 1.936216,
  'BAM': 1.954732,
  'BBD': 2.29751,
  'BDT': 97.828461,
  'BGN': 1.955849,
  'BHD': 0.428898,
  'BIF': 2294.56165,
  'BMD': 1.137611,
  'BND': 1.52949,
  'BOB': 7.822907,
  'BRL': 5.844138,
  'BSD': 1.137861,
  'BTC': 2.5805933e-05,
  'BTN': 85.305393,
  'BWP': 13.071459,
  'BYN': 2.908667,
  'BYR': 22297.178156,
  'BZD': 2.293612,
  'CAD': 1.443458,
  'CDF': 2292.286179,
  'CHF': 1.049217,
  'CLF': 0.032902,
  'CLP': 907.87021,
  'CNY': 7.209153,
  'COP': 4509.99107,
  'CRC': 727.441477,
  'CUC': 1.137611,
  'CUP': 30.146695,
  'CVE': 110.799653,
  'CZK': 24.350451,
  'DJF': 202.175899,
  'DKK': 7.440045,
  'DOP': 64.650085,
  'DZD': 159.828613,
  'EGP': 17.870052,
  'ERN': 17.064189,
  'ETB': 57.477805,
  'EUR': 1,
  'FJD': 2.427213,
  'FKP': 0.82809,
  'GBP': 0.837646,
  'GEL': 3.401805,
  'GGP': 0.82809,
  'GHS': 7.376256,
  'GIP': 0.828089,
  'GMD': 60.435609,
  'GNF': 10237.362653,
  'GTQ': 8.750186,
  'GYD': 238.046316,
  'HKD': 8.874675,
  'HNL': 27.974159,
  'HRK': 7.53087,
  'HTG': 117.584966,
  'HUF': 354.910758,
  'IDR': 16238.7732,
  'ILS': 3.629116,
  'IMP': 0.82809,
  'INR': 85.554052,
  'IQD': 1661.481056,
  'IRR': 48064.06965,
  'ISK': 141.609514,
  'JEP': 0.82809,
  'JMD': 178.878544,
  'JOD': 0.806539,
  'JPY': 131.346876,
  'KES': 129.289726,
  'KGS': 96.467715,
  'KHR': 4618.701538,
  'KMF': 492.415253,
  'KPW': 1023.850196,
  'KRW': 1361.481577,
  'KWD': 0.344244,
  'KYD': 0.948267,
  'KZT': 487.02713,
  'LAK': 12994.363393,
  'LBP': 1715.255358,
  'LKR': 230.124365,
  'LRD': 175.192021,
  'LSL': 17.132683,
  'LTL': 3.35907,
  'LVL': 0.68813,
  'LYD': 5.215914,
  'MAD': 10.653156,
  'MDL': 20.42483,
  'MGA': 4525.417185,
  'MKD': 61.589345,
  'MMK': 2023.502801,
  'MNT': 3252.238152,
  'MOP': 9.143752,
  'MRO': 406.126978,
  'MUR': 49.952668,
  'MVR': 17.576456,
  'MWK': 914.068362,
  'MXN': 23.066204,
  'MYR': 4.761187,
  'MZN': 72.613545,
  'NAD': 17.132062,
  'NGN': 473.029908,
  'NIO': 40.447791,
  'NOK': 10.086663,
  'NPR': 136.509337,
  'NZD': 1.703123,
  'OMR': 0.437962,
  'PAB': 1.137861,
  'PEN': 4.294767,
  'PGK': 3.998734,
  'PHP': 58.471438,
  'PKR': 199.934726,
  'PLN': 4.49962,
  'PYG': 7913.355948,
  'QAR': 4.142037,
  'RON': 4.942123,
  'RSD': 117.583759,
  'RUB': 85.420146,
  'RWF': 1159.225742,
  'SAR': 4.268896,
  'SBD': 9.192855,
  'SCR': 15.437366,
  'SDG': 505.099693,
  'SEK': 10.554299,
  'SGD': 1.527897,
  'SHP': 1.566949,
  'SLL': 13065.463594,
  'SOS': 664.36503,
  'SRD': 23.584388,
  'STD': 23546.253571,
  'SVC': 9.956409,
  'SYP': 2857.678904,
  'SZL': 17.22287,
  'THB': 36.731194,
  'TJS': 12.854146,
  'TMT': 3.993015,
  'TND': 3.267785,
  'TOP': 2.580045,
  'TRY': 15.470145,
  'TTD': 7.72746,
  'TWD': 31.653118,
  'TZS': 2633.57,
  'UAH': 31.974144,
  'UGX': 4003.051931,
  'USD': 1.137611,
  'UYU': 49.047456,
  'UZS': 12343.081036,
  'VEF': 243255640944.9827,
  'VND': 25886.341272,
  'VUV': 129.313866,
  'WST': 2.97183,
  'XAF': 655.695399,
  'XAG': 0.050519,
  'XAU': 0.000629,
  'XCD': 3.074451,
  'XDR': 0.812376,
  'XOF': 655.834356,
  'XPF': 119.793129,
  'YER': 284.686496,
  'ZAR': 17.066105,
  'ZMK': 10239.867872,
  'ZMW': 20.396346,
  'ZWL': 366.31032}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [4]:
# Turn the data into a dataframe
exchange_data = pd.DataFrame(data.json())
exchange_data

     success   timestamp base        date         rates
AED     True  1645051262  EUR  2022-02-16      4.178439
AFN     True  1645051262  EUR  2022-02-16    104.084981
ALL     True  1645051262  EUR  2022-02-16    121.485768
AMD     True  1645051262  EUR  2022-02-16    546.539938
ANG     True  1645051262  EUR  2022-02-16      2.050748
..       ...         ...  ...         ...           ...
YER     True  1645051262  EUR  2022-02-16    284.686496
ZAR     True  1645051262  EUR  2022-02-16     17.066105
ZMK     True  1645051262  EUR  2022-02-16  10239.867872
ZMW     True  1645051262  EUR  2022-02-16     20.396346
ZWL     True  1645051262  EUR  2022-02-16    366.310320

[168 rows x 5 columns]

In [5]:
# Drop unnescessary columns
exchange_data.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
exchange_data

            rates
AED      4.178439
AFN    104.084981
ALL    121.485768
AMD    546.539938
ANG      2.050748
..            ...
YER    284.686496
ZAR     17.066105
ZMK  10239.867872
ZMW     20.396346
ZWL    366.310320

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [10]:
# Save the Dataframe
exchange_data.to_csv("exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).